div {
    font-family: var(--font-inter);

    p {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #000000;

        @media screen and (max-width: 1100px) {
            font-size: 15px;
        }

        @media screen and (max-width: 576px) {
            font-size: 10px;
        }
    }

    ul {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #000000;

        li {
            margin: 5px;
            list-style-type: circle;
        }

        @media screen and (max-width: 1100px) {
            font-size: 15px;
        }

        @media screen and (max-width: 576px) {
            font-size: 10px;
        }
    }

    blockquote {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #000000;
        margin: 10px;
        border-left: 1px solid #000000;
        padding: 10px;

        @media screen and (max-width: 1100px) {
            font-size: 15px;
        }

        @media screen and (max-width: 576px) {
            font-size: 10px;
        }
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
        font-style: normal;
        color: #000000;

        @media screen and (max-width: 1100px) {
            font-size: 35px;
        }

        @media screen and (max-width: 576px) {
            font-size: 30px;
        }
    }

    h2 {
        font-size: 35px;
        font-weight: 600;
        font-style: normal;
        color: #000000;

        @media screen and (max-width: 1100px) {
            font-size: 30px;
        }

        @media screen and (max-width: 576px) {
            font-size: 25px;
        }
    }

    h3 {
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        color: #000000;

        @media screen and (max-width: 1100px) {
            font-size: 25px;
        }

        @media screen and (max-width: 576px) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        color: #000000;

        @media screen and (max-width: 1100px) {
            font-size: 20px;
        }

        @media screen and (max-width: 576px) {
            font-size: 15px;
        }
    }

    a {
        color: #000000;
    }

    img {
        width: 80%;
        height: auto;
        margin-top: 10px;

        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }
}