.app__home-welcome {
    background: url('../../assets/welcomebg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 290px 70px 0;
}

.app__home-welcome_title {
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--color-black);
}

.app__home-welcome_text {
    height: 94px;
    width: 599px;

    font-family: var(--font-lora);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.app__home-welcome_button {
    width: 180px;
    height: 55px;
    background: var(--color-black);
    border-radius: 100px;

    color: var(--color-white);
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.app__home-latest {
    height: fit-content;
    margin: 94px 70px 30px;
}

.app__home-latest_heading {
    padding: 0 0 47px;
    display: flex;
    height: 46px;
    position: relative;
    align-items: center;
}

.app__home-latest_heading-title {
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    color: var(--color-darkGrey);
}

.app__home-latest_heading-text {
    position: absolute;
    vertical-align: middle;
    right: 0;
}

.app__home-latest_articles {
    height: 350px;
    display: flex;
    flex-direction: row;

    @media screen and (min-width:1024px) {
        width: fit-content;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        height: fit-content;
        width: fit-content;
    }
}

.app__home-latest_articles-article {
    width: 310px;
    height: 310px;
    display: block;
    padding: 0 20px 0 0;

    @media screen and (min-width:768px) and (max-width: 1024px) {
        width: inherit;
        height: 200px;
    }
}

.app__home-latest_articles-article-img {
    width: 310px;
    height: 280px;
    border-radius: 5px;

    @media screen and (min-width:768px) and (max-width: 1024px) {
        width: auto;
        height: 130px;
    }
}

.app__home-latest_articles-article-author {
    font-family: var(--font-lora);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: var(--color-black);
}

.app__home-latest_articles-article-title {
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-black);
}

@media screen and (min-width:768px) and (max-width: 1024px){
    .app__home-welcome{
        background: url('../../assets/welcomebg.png') no-repeat center center;
        width: 100%;
        height: 400px;
        padding: 0px;
    }
    
    .app__home-welcome_details{
        padding: 160px 60px 0;
    }

    .app__home-welcome_title{
        font-size: 1.9rem;
        line-height: 55px;
    }
    .app__home-welcome_text{
        font-size: 0.8rem;
        width: 409px;
        line-height: 15px;
        height: 60px;
    }
    
    .app__home-welcome_button{
        width: 137px;
        height: 48px;
        border-radius: 15px;
        font-size: 1rem;
        line-height: 20px;
    }
}